<ion-content padding style="background-color:#E9E9E9">
    <ion-row>
        <ion-icon ios="ios-arrow-back" md="md-arrow-back" class="logo1" (click)="volver()"></ion-icon>
    </ion-row>
  <ion-grid *ngIf="value==1" style="margin-top:5%">
      <ion-row>
          <ion-col col-4 style="padding: 0%">
            <ion-row style="width: 100%">
                <div style="height: 60px;width: 60px;border-radius: 50%;background-color:rgb(31, 172, 3)">
                    <img src="assets/imgs/confirm.png" style="position: absolute;height: 26px;top: 16%;left: 16%;">
                    
                  </div>
            </ion-row>
            <ion-row style="width: 100%;margin-left: 23%">
              <div style="background-color:rgb(31, 172, 3);height: 50px;width:4px"></div>
            </ion-row>
           
            
          </ion-col>
          <ion-col col-8></ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-4 style="padding: 0%">
              <ion-row style="width: 100%">
                  <div style="height: 60px;width: 60px;border-radius: 50%;background-color:rgb(172, 51, 3)">
                      <img src="assets/imgs/process.png" style="position: absolute;height: 26px;top: 16%;left: 16%;">
                      
                    </div>
              </ion-row>
              <ion-row style="width: 100%;margin-left: 23%">
                <div style="background-color:rgb(172, 51, 3);height: 50px;width:4px"></div>
              </ion-row>
             </ion-col>
            <ion-col col-8></ion-col>
          </ion-row>
          <ion-row>
              <ion-col col-4 style="padding: 0%">
                <ion-row style="width: 100%">
                    <div style="height: 60px;width: 60px;border-radius: 50%;background-color:rgb(172, 51, 3)">
                        <img src="assets/imgs/dispatch.png" style="position: absolute;height: 26px;top: 16%;left: 16%;">
                        
                      </div>
                </ion-row>
                <ion-row style="width: 100%;margin-left: 23%">
                  <div style="background-color:rgb(172, 51, 3);height: 50px;width:4px"></div>
                </ion-row>
               </ion-col>
              <ion-col col-8></ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-4 style="padding: 0%">
                  <ion-row style="width: 100%">
                      <div style="height: 60px;width: 60px;border-radius: 50%;background-color:rgb(172, 51, 3)">
                          <img src="assets/imgs/delivery.png" style="position: absolute;height: 26px;top: 24%;left: 16%;">
                          
                        </div>
                  </ion-row>
                 </ion-col>
                <ion-col col-8></ion-col>
              </ion-row>
  </ion-grid>

  <ion-grid *ngIf="value==2" style="margin-top:5%;margin-left:2%">
      <ion-row>
          <ion-col col-4 style="padding: 0%">
            <ion-row style="width: 100%">
                <div style="height: 60px;width: 60px;border-radius: 50%;background-color:rgb(31, 172, 3)">
                    <img src="assets/imgs/confirm.png" style="position: absolute;height: 26px;top: 16%;left: 16%;">
                    
                  </div>
            </ion-row>
            <ion-row style="width: 100%;margin-left: 23%">
              <div style="background-color:rgb(31, 172, 3);height: 50px;width:4px"></div>
            </ion-row>
           
            
          </ion-col>
          <ion-col col-8></ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-4 style="padding: 0%">
              <ion-row style="width: 100%">
                  <div style="height: 60px;width: 60px;border-radius: 50%;background-color:rgb(31, 172, 3)">
                      <img src="assets/imgs/process.png" style="position: absolute;height: 26px;top: 16%;left: 16%;">
                      
                    </div>
              </ion-row>
              <ion-row style="width: 100%;margin-left: 23%">
                <div style="background-color:rgb(31, 172, 3);height: 50px;width:4px"></div>
              </ion-row>
             </ion-col>
            <ion-col col-8></ion-col>
          </ion-row>
          <ion-row>
              <ion-col col-4 style="padding: 0%">
                <ion-row style="width: 100%">
                    <div style="height: 60px;width: 60px;border-radius: 50%;background-color:rgb(172, 51, 3)">
                        <img src="assets/imgs/dispatch.png" style="position: absolute;height: 26px;top: 16%;left: 16%;">
                        
                      </div>
                </ion-row>
                <ion-row style="width: 100%;margin-left: 23%">
                  <div style="background-color:rgb(172, 51, 3);height: 50px;width:4px"></div>
                </ion-row>
               </ion-col>
              <ion-col col-8></ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-4 style="padding: 0%">
                  <ion-row style="width: 100%">
                      <div style="height: 60px;width: 60px;border-radius: 50%;background-color:rgb(172, 51, 3)">
                          <img src="assets/imgs/delivery.png" style="position: absolute;height: 26px;top: 24%;left: 16%;">
                          
                        </div>
                  </ion-row>
                 </ion-col>
                <ion-col col-8></ion-col>
              </ion-row>
  </ion-grid >

  <ion-grid *ngIf="value==3" style="margin-top:5%">
      <ion-row>
          <ion-col col-4 style="padding: 0%">
            <ion-row style="width: 100%">
                <div style="height: 60px;width: 60px;border-radius: 50%;background-color:rgb(31, 172, 3)">
                    <img src="assets/imgs/confirm.png" style="position: absolute;height: 26px;top: 16%;left: 16%;">
                    
                  </div>
            </ion-row>
            <ion-row style="width: 100%;margin-left: 23%">
              <div style="background-color:rgb(31, 172, 3);height: 50px;width:4px"></div>
            </ion-row>
           
            
          </ion-col>
          <ion-col col-8></ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-4 style="padding: 0%">
              <ion-row style="width: 100%">
                  <div style="height: 60px;width: 60px;border-radius: 50%;background-color:rgb(31, 172, 3)">
                      <img src="assets/imgs/process.png" style="position: absolute;height: 26px;top: 16%;left: 16%;">
                      
                    </div>
              </ion-row>
              <ion-row style="width: 100%;margin-left: 23%">
                <div style="background-color:rgb(31, 172, 3);height: 50px;width:4px"></div>
              </ion-row>
             </ion-col>
            <ion-col col-8></ion-col>
          </ion-row>
          <ion-row>
              <ion-col col-4 style="padding: 0%">
                <ion-row style="width: 100%">
                    <div style="height: 60px;width: 60px;border-radius: 50%;background-color:rgb(31, 172, 3)">
                        <img src="assets/imgs/dispatch.png" style="position: absolute;height: 26px;top: 16%;left: 16%;">
                        
                      </div>
                </ion-row>
                <ion-row style="width: 100%;margin-left: 23%">
                  <div style="background-color:rgb(31, 172, 3);height: 50px;width:4px"></div>
                </ion-row>
               </ion-col>
              <ion-col col-8></ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-4 style="padding: 0%">
                  <ion-row style="width: 100%">
                      <div style="height: 60px;width: 60px;border-radius: 50%;background-color:rgb(172, 51, 3)">
                          <img src="assets/imgs/delivery.png" style="position: absolute;height: 26px;top: 24%;left: 16%;">
                          
                        </div>
                  </ion-row>
                 </ion-col>
                <ion-col col-8></ion-col>
              </ion-row>
  </ion-grid>

  <ion-grid *ngIf="value==4" style="margin-top:5%">
      <ion-row>
          <ion-col col-4 style="padding: 0%">
            <ion-row style="width: 100%">
                <div style="height: 60px;width: 60px;border-radius: 50%;background-color:rgb(31, 172, 3)">
                    <img src="assets/imgs/confirm.png" style="position: absolute;height: 26px;top: 16%;left: 16%;">
                    
                  </div>
            </ion-row>
            <ion-row style="width: 100%;margin-left: 23%">
              <div style="background-color:rgb(31, 172, 3);height: 50px;width:4px"></div>
            </ion-row>
           
            
          </ion-col>
          <ion-col col-8></ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-4 style="padding: 0%">
              <ion-row style="width: 100%">
                  <div style="height: 60px;width: 60px;border-radius: 50%;background-color:rgb(31, 172, 3)">
                      <img src="assets/imgs/process.png" style="position: absolute;height: 26px;top: 16%;left: 16%;">
                      
                    </div>
              </ion-row>
              <ion-row style="width: 100%;margin-left: 23%">
                <div style="background-color:rgb(31, 172, 3);height: 50px;width:4px"></div>
              </ion-row>
             </ion-col>
            <ion-col col-8></ion-col>
          </ion-row>
          <ion-row>
              <ion-col col-4 style="padding: 0%">
                <ion-row style="width: 100%">
                    <div style="height: 60px;width: 60px;border-radius: 50%;background-color:rgb(31, 172, 3)">
                        <img src="assets/imgs/dispatch.png" style="position: absolute;height: 26px;top: 16%;left: 16%;">
                        
                      </div>
                </ion-row>
                <ion-row style="width: 100%;margin-left: 23%">
                  <div style="background-color:rgb(31, 172, 3);height: 50px;width:4px"></div>
                </ion-row>
               </ion-col>
              <ion-col col-8></ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-4 style="padding: 0%">
                  <ion-row style="width: 100%">
                      <div style="height: 60px;width: 60px;border-radius: 50%;background-color:rgb(31, 172, 3)">
                          <img src="assets/imgs/delivery.png" style="position: absolute;height: 26px;top: 24%;left: 16%;">
                          
                        </div>
                  </ion-row>
                 </ion-col>
                <ion-col col-8></ion-col>
              </ion-row>
  </ion-grid>

  <p style="margin-top:7%"*ngIf="value==4">El pedido ya ha sido entregado a su destinatario.</p>
  <p style="margin-top:7%"*ngIf="value==3">El pedido se encuentra en manos del transportista y ya se encuentra en reparto.</p>
  <p style="margin-top:7%"*ngIf="value==2">El pedido ha sido confirmado por el vendedor y se está preparando para ser entregado al transportista</p>
  <p style="margin-top:7%"*ngIf="value==1">El pedido está pendiente de ser confirmado por el vendedor</p>

</ion-content>