page-modal {
        ion-footer button {
          margin: 0 !important;
        }

    .input{
        margin-left:5%;
        border-style: solid;
        border-width: 0.5px;
        border-color: white;
        border-bottom-color: grey;
        width: 54%;
        .text-input{
            margin-bottom: 2%;
        }
        }
}
