
<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title class="header">
          <p style="color:white">Perfil</p>
        </ion-title>
    </ion-navbar>
  </ion-header>

<ion-content>
  <ion-grid class="grid">
    <ion-row align-items-center style="height:80%;width:100%">
      <ion-col col-4></ion-col>
      <ion-col col-4>
          <img class="userimage" src="assets/imgs/user.png">
      </ion-col>
        <ion-col col-4>
            <button ion-button class="botonlogout" (click)="logout()">
                    <ion-icon name="log-out" class="logout"></ion-icon>
            </button>
            
        </ion-col>
    </ion-row>
    <ion-row style="height:30%;width:100%">
        <ion-col col-4></ion-col>
        <ion-col col-4>
                <button ion-button class="botoneditarperfil" (click)="showSettings()">Editar perfil</button>
        </ion-col>
        
        <ion-col col-4></ion-col>
    </ion-row>
  </ion-grid>

  
        <hr style="width:84%"/>
        <ion-card class="card" *ngIf="seeSettings==true">
      <ion-card-content style="height:84%;padding-bottom:0%;"> 
      
    
    <ion-row>
        <ion-input placeholder="Usuario" class="text"></ion-input>
    </ion-row>
    <ion-row>
        <ion-input placeholder="Contraseña anterior" class="text"></ion-input>
    </ion-row>
    <ion-row>
        <ion-input placeholder="Nueva contraseña" class="text"></ion-input>
    </ion-row>
    <ion-row>
        <ion-input placeholder="Correo electrónico" class="text"></ion-input>
    </ion-row>
    <ion-row>
        <ion-input placeholder="Dirección" class="text"></ion-input>
    </ion-row>
    <ion-row>
        <ion-input placeholder="Teléfono" class="text"></ion-input>
    </ion-row>
    <ion-row>
        <ion-input placeholder="Localidad" class="text"></ion-input>
    </ion-row>
    <ion-row>
        <ion-input placeholder="Ciudad" class="text"></ion-input>
    </ion-row>
    
    </ion-card-content>
    </ion-card>
    <ion-row align-items-center *ngIf="seeSettings==true">
      <ion-col style="text-align:center;">
          <button ion-button style="width:84%" >Actualizar</button>
      </ion-col>
       
    </ion-row>
      

</ion-content>
