page-perfil {
    .header{
        background: linear-gradient(to bottom right,rgb(52, 53, 53),rgb(143, 143, 143));
    }

    .p1{
        margin-left:34%;
    }
    .grid{
        width:100%;
        height:36%;
        align-items: center;
        background:linear-gradient(to bottom right,rgb(52, 53, 53),rgb(143, 143, 143));
    }

    .botonlogout{
        width: 60%;
        margin-left:20%;
        border-radius: 30%;
        border-style: solid;
        border-width: 1px;
        background-color: rgb(194, 3, 3);
    }

    .logout{
        font-size: 30px;
        color: #b9b9b9;
        width: 30px !important;
        height: 30px !important;
    }
    .botoneditarperfil{
        background-color:rgb(228, 175, 0);
        color:rgb(32, 32, 32);
    }
    
}
