page-forgotpass {
    .fondo{
        background: linear-gradient(to bottom right,rgb(52, 53, 53),rgb(143, 143, 143));
        display: fixed;
    }

    .logo{
        font-size: 30px;
        color: rgb(59, 59, 59);
        width:30px !important;
        height:30px !important;
    }
    .logo1{
        font-size: 30px;
        color: white;
        width:30px !important;
        height:30px !important;
    }

    .card{
        margin-top:20%;
        border-color: white;
        border-width: 0.2px;
        border-style: solid;
        border-radius: 2%;
    }
    .button{
        background-color: #3A8DDB;
        color:white;
    }
    .text{
        color: rgb(31, 31, 31);
    }
}
