<ion-header>

  <ion-navbar>
    <ion-title class="header">
      <p style="color:white">Recomendados</p>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<ion-grid style="width:100%;height:90%">
  <ion-row style="width:100%;height:15%">
    <ion-row style="width:100%;height:30%">
        <p style="font-style:italic;font-weight:bold;">{{this.nombre}}</p>
    </ion-row>
    <ion-row style="width:100%;height:70%">
        <p>{{this.descripcion}}</p>
    </ion-row>
  </ion-row>
  <ion-row class="rowImg">
      <ion-col col-1></ion-col>
      <ion-col col-10 style="width:100%;height: 100%">
        <ion-slides autoplay="3000" loop="true" speed="800" pager="true">
          <ion-slide class="slide">
            <img src="assets/imgs/gpro.png" style="max-width: 60%">
          </ion-slide>
          <ion-slide class="slide">
            <img src="assets/imgs/gpro2.jpg" style="max-width: 86%;">
          </ion-slide>
        </ion-slides>

      </ion-col>
      <ion-col col-1></ion-col>
   </ion-row>
   <ion-row style="width:100%;height:30%">
    <ion-row  style="width:100%;height:80%">
        <ion-col col-4></ion-col>
        <ion-col col-4>
            <p style="width:100%;color:grey">{{this.precio}}</p>
            <p style="width:100%">{{this.peso}}</p>
            <p style="width:100%;color:blue;">Envío gratis</p>
        </ion-col>
        <ion-col col-4></ion-col>
      
    </ion-row>
    <ion-row style="width:100%;height:20%">
      <ion-col col-3 class="colStock">
          <p class="enStock" *ngIf="enStock">En stock</p>
          <p class="fueraStock" *ngIf="!enStock">Agotado</p>
      </ion-col>
      <ion-col col-9></ion-col>
    </ion-row>
   </ion-row>
   <ion-row style="width:100%;height:10%">
      <ion-col col-1 style="align-self:center">
          <ion-icon ios="ios-pin" md="md-pin" class="logo"></ion-icon>
      </ion-col>
      <ion-col col-11>
        <p>{{this.direccion}}</p>
      </ion-col>
     </ion-row>
   <ion-row style="width:100%;height:20%">

     <ion-col col-12 style="text-align:center">
        <button ion-button class="button" (click)="comprarProducto()">Comprar</button>
     </ion-col>
     
   </ion-row>

</ion-grid>
</ion-content>
