page-transportista {
    .header{
        background: linear-gradient(to bottom left,rgb(52, 53, 53),rgb(143, 143, 143));
    }
    .grid{
        width: 100%;
        border-radius: 2px;
        border-color: #E9E9E9;
        border-width: 1px;
        border-style: solid;
    }
    .botonlogout{
        width: 60%;
        margin-left:20%;
        border-radius: 30%;
        border-style: solid;
        border-width: 1px;
        background-color: rgb(194, 3, 3);
    }
    .hr{
        color: #E9E9E9;
        width: 94%;
        height: 0%;
        border-style: solid;
        border-width: 0.5px;
    }
    .hr2{
        color: #E9E9E9;
        width: 64%;
        border-style: solid;
        border-width: 0px;
    }
}
