<ion-header>
    <ion-toolbar>
        <ion-title class="header">
            <p style="color:white">Zoom</p>
          </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>

    <ion-row>
        <ion-col col-9>
            <p>Bienvenido</p>
        </ion-col>
        <ion-col col-3>
                <button ion-button class="botonSalir" (click)="seguroLogOut()">
                        <p class="text">Salir</p>
                        <ion-icon  style="margin-left:12%;color:#ff5b5b;" name="md-log-out"></ion-icon>
                    </button>
        </ion-col>
      </ion-row>
      <hr class="hr">
        <ion-row style="width:100%;height:10%">
          <ion-row style="height:60%;width:100%">
              <p style="margin-left:4%;margin-bottom:1%">Pedidos</p>
          </ion-row>
          <ion-row style="height:40%;width:100%">
              
          </ion-row>
            
      </ion-row>
     




<ng-container *ngFor="let pedido of pedidosAEntregar; let i = index">
    <ion-grid class="grid"  *ngIf="pedido.status=='CONFIRMED' || pedido.status=='INTRANSIT'" style="width:100%;margin-top:2%">
      <!--><ion-grid *ngIf="pedido.status=='CONFIRMED'" style="width:100%;height:100%"><!-->
        <ion-row>
            
       <ion-col col-4>
            <ion-row style="width:100%;height:25%">
              <p style="font-weight:bold">{{pedido.product}}</p>
              
            </ion-row>
            <ion-row style="width:100%;height:25%">
            <p>ID Vendedor: {{(pedido.owner).substring(25)}}</p>
            </ion-row>
            <ion-row style="width:100%;height:25%">
              <p style="font-weight:400">ID: {{pedido.id}}</p>
            </ion-row>
            <ion-row style="width:100%;height:25%">
                <p style="color:blue" *ngIf="pedido.status=='CONFIRMED'">{{pedido.status}}</p>
                <p style="color:blue" *ngIf="pedido.status=='PENDING'">{{pedido.status}}</p>
                <p style="color:green" *ngIf="pedido.status=='DELIVERED'">{{pedido.status}}</p>
                <p style="color:red" *ngIf="pedido.status=='DECLINED'">{{pedido.status}}</p>
                <p style="color:rgb(255, 153, 0)" *ngIf="pedido.status=='INTRANSIT'">{{pedido.status}}</p>
            </ion-row>

          </ion-col>
          <ion-col col-6 style="align-self:center;text-align:center">
            <img src="assets/imgs/asus1.jpg" *ngIf="pedido.product == 'ASUS MX239H'" style="width:50%;height:50%">
            <img src="assets/imgs/auriculares.png" *ngIf="pedido.product == 'Logitech G430'" style="width:50%;height:50%">
            <img src="assets/imgs/gpro.png" *ngIf="pedido.product == 'Logitech G Pro'" style="width:50%;height:50%">
            <img src="assets/imgs/keyboard.png" *ngIf="pedido.product == 'Logitech G213'" style="width:50%;height:50%">
          </ion-col>
          <ion-col col-2 style="align-self:center;text-align:center">
              <ion-icon ios="ios-camera" md="md-camera" (click)="readQR(pedido)"></ion-icon>
          </ion-col>
         
          </ion-row>
        </ion-grid>
      </ng-container>
   <!--> </ion-grid> <!-->

</ion-content>
