page-signup {
    .fondo{
        background: linear-gradient(to bottom right,rgb(52, 53, 53),rgb(143, 143, 143));
        display: fixed;
    }

    .logo{
        font-size: 30px;
        color: rgb(59, 59, 59);
        width:30px !important;
        height:30px !important;
    }
    .logo1{
        font-size: 30px;
        color: white;
        width:30px !important;
        height:30px !important;
    }

    .rowUser{
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: white;
    }
    .rowPassword{
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: white;
              
    }
    .rowPassword2{
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: white;
              
    }
    .rowMail{
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: white;
              
    }
    .rowLocation{
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: white;
              
    }
    .card{
        margin-top:10%;
        border-color: white;
        border-width: 0.2px;
        border-style: solid;
        border-radius: 2%;
        height: 69%;
    }
    .cardHeader{
        border-style: solid;
        border-width: 2px;
        border-color: white;
        color:rgb(31, 31, 31);
    }
    .button{
        background-color: #3A8DDB;
    }
    .text{
        color: rgb(31, 31, 31);
    }
    
}
