
<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title class="header">
        <p  style="color:white">Mis Pedidos</p>
      </ion-title>
    </ion-navbar>
  </ion-header>


<ion-content padding>

<ion-grid class="grid" *ngFor="let pedido of misPedidos; let i = index" style="width:100%">
    <ion-row>
        
   <ion-col col-4>
        <ion-row style="width:100%;height:33%">
          <p style="font-weight:bold">{{pedido.product}}</p>
          
        </ion-row>
        <ion-row style="width:100%;height:34%">
        <p>Nombre vendedor</p>
        </ion-row>
        <ion-row style="width:100%;height:33%">
            <p style="color:blue" *ngIf="pedido.status=='CONFIRMED'">{{pedido.status}}</p>
            <p style="color:blue" *ngIf="pedido.status=='PENDING'">{{pedido.status}}</p>
            <p style="color:green" *ngIf="pedido.status=='DELIVERED'">{{pedido.status}}</p>
            <p style="color:red" *ngIf="pedido.status=='DECLINED'">{{pedido.status}}</p>
            <p style="color:rgb(255, 153, 0)" *ngIf="pedido.status=='INTRANSIT'">{{pedido.status}}</p>
        </ion-row>
      </ion-col>
      <ion-col col-8 style="align-self:center;text-align:center">
        <img src="assets/imgs/asus1.jpg" *ngIf="pedido.product == 'ASUS MX239H'" style="width:50%;height:50%">
        <img src="assets/imgs/auriculares.png" *ngIf="pedido.product == 'Logitech G430'" style="width:50%;height:50%">
        <img src="assets/imgs/gpro.png" *ngIf="pedido.product == 'Logitech G Pro'" style="width:50%;height:50%">
        <img src="assets/imgs/keyboard.png" *ngIf="pedido.product == 'Logitech G213'" style="width:50%;height:50%">
      </ion-col>
     
      </ion-row>
      
</ion-grid>

</ion-content>