
<ion-header>
    <ion-toolbar>
        <ion-title class="header">
            <p style="color:white">Zoom</p>
          </ion-title>
    </ion-toolbar>
  </ion-header>


<ion-content padding>
<ion-row>
  <ion-col col-8>
      <p style="font-weight:bold;font-style:italic;">Bienvenido</p>
  </ion-col>
  <ion-col col-4>
      <button ion-button class="botonlogout" (click)="logout()">
          <img src="assets/imgs/logout.png" class="img">
  </button>
  </ion-col>
</ion-row>
<ion-grid class="grid">
  <ion-row style="width:100%;height:10%">
      <p style="margin-left:4%;margin-bottom:1%">Pedidos</p>
      <hr class="hr">
</ion-row>
<ion-row style="width:100%;height:90%">
<ion-row *ngFor="let pedido of pedidosList; let i = index" style="width:100%">
  <ion-col col-6>
    <ion-row style="width:100%;height:20%"></ion-row>
  <ion-row style="width:100%;height:20%">
    <p style="font-weight:bold">{{pedido.product}}</p>
    
  </ion-row>
  <ion-row style="width:100%;height:20%">
  <p>ID Cliente: {{pedido.client}}</p>
  </ion-row>
  <ion-row style="width:100%;height:20%">
    <p style="color:rgb(0, 247, 255)" *ngIf="pedido.status=='CONFIRMED'">{{pedido.status}}</p>
    <p style="color:blue" *ngIf="pedido.status=='PENDING'">{{pedido.status}}</p>
    <p style="color:green" *ngIf="pedido.status=='DELIVERED'">{{pedido.status}}</p>
    <p style="color:red" *ngIf="pedido.status=='DECLINED'">{{pedido.status}}</p>
    <p style="color:yellow" *ngIf="pedido.status=='INTRANSIT'">{{pedido.status}}</p>
      </ion-row>
  <ion-row style="width:100%;height:20%"></ion-row>
</ion-col>
<ion-col col-6 style="align-self:center">
  <ion-row style="width:100%;height:20%">
    <p style="font-weight:bold">ID: {{pedido.id}}</p>
  </ion-row>
  <ion-row style="width:100%;height:20%">
      <button ion-button  [disabled]="pedido.status!='PENDING'" (click)="confirmarPedido(pedido)">Confirmar pedido</button>
  </ion-row>
  
</ion-col>
<hr class="hr2">
</ion-row>

</ion-row>
</ion-grid>

<!-->Grid de edicion<!-->
  <ion-grid *ngIf="visible" class="gridEdicion">
    <p style="width:100%">{{this.mensaje}}</p>
  </ion-grid>
</ion-content>
